* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, p, a, span, button {
  font-family: 'Segoe UI';
}

a {
  text-decoration: none;
}

.App {
  text-align: left;
}

.loader:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  margin: 50px auto 0 auto;
  left: 0;
  right: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid #A0A0A0;
  border-radius: 100px;
  animation: preloader-rotate .3s infinite linear;
}

@keyframes preloader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  background-color: #333;
}
.header section {
  margin: auto;
}
.header p {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
.header p span {
  margin-left: 5px;
  font-size: 18px;
  color: #A0A0A0;
}
.header a {
  color: #fff;
  transition: all .2s;
}
.header a:hover {
  text-shadow: 0px 0px 6px #ffffff70;
  transition: all .2s;
}
input {
  padding-left: 5px;
  border: 1px solid #333333;
  border-radius: 5px;
  font-size: 20px;
}
input:focus {
  border: 2px solid #333333;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.btn {
  padding: 6px 10px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.btn-main {
  color: #ffffff;
  background-color: #333333;
}

.btn-main:hover {
  background-color: #333333d6;
}

.btn-main:active {
  background-color: #333333d6;
  outline: 2px solid #333333d6;
}

.btn-border {
  color: #333333;
  border: 2px solid #333333;
}

.btn-border:hover {
  background-color: #f5f5f5;
}

.btn-border:active {
  background-color: #eeeeee;
}

.btn.converter {
  max-width: 100px;
  margin-bottom: 10px;
  display: block;
}

.BTC {
  color: #B09F00;
}
.ETH {
  color: #3BBB38;
}
.USD {
  color: #4B55AC;
}

.wallet-content {
  width: 70%;
  margin: 0 auto;
}

.wallet-content .bar__card,
.wallet-content .balance__card {
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 7px 5px 9px #D5D5D5;
}
.wallet-content .bar__card.btc {
  background: #EDF2CA;
}
.wallet-content .bar__card.eth {
  background: #CAF2CE;
}

.wallet-content .balance__card {
  border: 1px solid #A9A9A9;
}

.wallet-content .bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.wallet-content .bar__card {
  padding: 18px;
  text-align: center;
}
.bar__row {
  font-size: 25px;
}

.bar__arrow-up {
  color: #19B200;
}
.bar__arrow-down {
  color: #D23F3F;
}

.bar__coin-val {
  font-weight: 600;
}

.usd-symbol {
  color: #A0A0A0;
  font-weight: 400;
}

.wallet-content .balance {
  margin-bottom: 30px;
}

.wallet-content .balance__card {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.wallet-content .balance-card:last-child {
  margin-bottom: 0;
}
.wallet-content .balance__card .balance__info {
  font-size: 24px;
  font-weight: 600;
}

.wallet-content .balance__card .balance__coin-name {
  font-weight: 400;
}

.wallet-content .balance__send {
  cursor: pointer;
  float: right;
}

.wallet-content .balance__send:disabled {
  background-color: #777777;
  cursor: default;
}

.wallet-content .summary {
  margin: 30px;
  text-align: center;
}
.wallet-content .summary__diagram {
  width: 300px;
  margin: 0 auto 30px auto;
}

.wallet-content .summary__total {
  font-size: 34px;
  font-weight: 600;
}

.send-modal__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000090;
}
.send-modal__content {
  width: 50%;
  margin: 150px auto 0 auto;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 7px 5px 9px #585858;
  text-align: center;
}
.send-modal__title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 10px;
}
.send-modal__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin-bottom: 20px;
}
.send-modal__subtitle.error {
  color: red;
}
.send-modal__balance-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}
.send-modal__balance-list .balance__card {
  width: auto;
  max-width: 250px;
  padding: 10px 20px;
  border: 1px solid #A9A9A9;
  cursor: pointer;
}

.send-modal__balance-list .balance__card:hover {
  box-shadow: 7px 5px 9px rgba(117, 117, 117, 0.41);
}
.send-modal__balance-list .balance__card.active {
  padding: 9px 19px;
}
.send-modal__balance-list .balance__card.BTC:hover {
  border-color: #B09F00;
  box-shadow: 7px 5px 9px rgba(176, 159, 0, 0.41);
}
.send-modal__balance-list .balance__card.BTC.active {
  border: 2px solid #B09F00;
  box-shadow: 7px 5px 9px rgba(176, 159, 0, 0.41);
}
.send-modal__balance-list .balance__card.ETH:hover {
  border-color: #3BBB38;
  box-shadow: 7px 5px 9px rgba(59, 187, 56, 0.41);
}
.send-modal__balance-list .balance__card.ETH.active {
  border: 2px solid #3BBB38;;
  box-shadow: 7px 5px 9px rgba(59, 187, 56, 0.41);
}
.send-modal__balance-list .balance__card.USD:hover {
  border-color: #4B55AC;
  box-shadow: 7px 5px 9px rgba(75, 85, 172, 0.41);
}
.send-modal__balance-list .balance__card.USD.active {
  border: 2px solid #4B55AC;
  box-shadow: 7px 5px 9px rgba(75, 85, 172, 0.41);
}
.send-modal__balance-list .balance__card.other.active {
  border: 2px solid #333333;
  box-shadow: 7px 5px 9px rgba(117, 117, 117, 0.41);
}

.send-modal__balance-list .balance__info {
  margin: auto;
  color: #333333;
}

.send-modal__content .send-inputs {
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
}
.send-modal__content .send-inputs__title {
  font-size: 20px;
  margin-right: 10px;
}
.send-modal__content .send-inputs__subtitle {
  color: #555555;
}

.send-modal__content .send-inputs__input {
  height: 30px;
  font-size: 18px;
}

.send-modal__content .send-inputs__input.error {
  border: 2px solid red;
}

.converter-page .converter-content {
  display: flex;
  justify-content: space-evenly;
}

.history-charts h2 {
  text-align: center;
}

.history-charts {
  width: 40%;
}

.converter {
  width: 30%;
  text-align: center;
}

.converter-inputs {
  display: flex;
  justify-content: center;
}
.converter-inputs label {
  margin-top: 10px;
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #555;
}
.converter-inputs div:first-child label {
  text-align: right;
}
.converter-inputs input {
  width: 200px;
  height: 30px;
}
.converter-inputs input:disabled {
  color: #000000;
  cursor: text;
}
.converter-inputs p {
  margin: 27px 20px 0 20px;
  font-size: 30px;
  color: #333333;
}

.converter-inputs .arrow {
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
	0% {
		transform: translate(-5px, 0);
	}
  50% {
    transform: translate(5px, 0);
  }
	100% {
    transform: translate(-5px, 0);
	}
}